.Identifier { color: #008b8b; }
.Statement { color: #0000ff; font-weight: bold; }
.PreProc { color: #cd00cd; }
.Special { color: #ff1493; }
.Constant { color: #00cd00; }
.Comment { color: #ee0000; }
.Type { color: #0000ff; font-weight: bold; }
pre { font-family: monospace; color: #000000; background-color: #ffffff; }
body { font-family: monospace; color: #000000; background-color: #ffffff; }
.lnr { color: #a52a2a; }
.Folded { color: #00008b; background-color: #d3d3d3; }
