pre { margin-left: 1pt; padding: 5pt; }
pre { color: #e1e1e1; background-color: #030507; }
.Constant { color: #ca0101; } 
.Identifier { color: #06989a; } 
.PreProc { color: #75507b; } 
.Underlined { color: #75507b; } 
.Title { color: #75507b; } 
.Special { color: #75507b; } 
.Statement { color: #bd9901; } 
.Type { color: #4e9a06; } 
.Comment { color: #3465a4; }
.lnr { color: #bd9901; }
a[href] { color: #D52222; }
