.Identifier { color: #00ffff; }
.Statement { color: #add8e6; }
.PreProc { color: #eea9b8; }
.Special { color: #ffff00; }
.Constant { color: #00ffff; font-weight: bold; }
.Comment { color: #00ff00; }
.Type { color: #2e8b57; font-weight: bold; }
pre { font-family: monospace; color: #00ffff; background-color: #000000; }
body { font-family: monospace; color: #00ffff; background-color: #000000; }
.lnr { color: #a9a9a9; }
.Folded { color: #00ffff; background-color: #4d4d4d; }
